.App {
  text-align: center;
}

.checkout {
  float: left;
  height: 550px;
  width: 50%;
}

.order {
  float: right;
  height: 550px;
  width: 50%;
}

.reciept {
  display: block;
  width: 50%;
  height: 24px;
}

.red {
  color: red;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.quantity {
  display: inline-block;
  margin-left: 25px;
}
